<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
  	<servlet-name>bilagServlet</servlet-name>
  	<servlet-class>dtu.rejseafregning.server.dal.BilagDAO</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>bilagServlet</servlet-name>
  	<url-pattern>/__rejseafregning/bilagservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>medarbejderServlet</servlet-name>
  	<servlet-class>dtu.rejseafregning.server.dal.MedarbejderDAO</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>medarbejderServlet</servlet-name>
  	<url-pattern>/__rejseafregning/medarbejderservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>opgaveServlet</servlet-name>
    <servlet-class>dtu.rejseafregning.server.dal.OpgaveDAO</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet> 
  <servlet-mapping>
    <servlet-name>opgaveServlet</servlet-name>
    <url-pattern>/__rejseafregning/opgaveservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>projektServlet</servlet-name>
  	<servlet-class>dtu.rejseafregning.server.dal.ProjektDAO</servlet-class>
  	<load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>projektServlet</servlet-name>
  	<url-pattern>/__rejseafregning/projektservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>rejseafregningServlet</servlet-name>
  	<servlet-class>dtu.rejseafregning.server.dal.RejseafregningDAO</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>rejseafregningServlet</servlet-name>
  	<url-pattern>/__rejseafregning/rejseafregningservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>rejsedagServlet</servlet-name>
  	<servlet-class>dtu.rejseafregning.server.dal.RejsedagDAO</servlet-class>
  	<load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>rejsedagServlet</servlet-name>
  	<url-pattern>/__rejseafregning/rejsedagservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>udgiftServlet</servlet-name>
  	<servlet-class>dtu.rejseafregning.server.dal.UdgiftDAO</servlet-class>
  	<load-on-startup>7</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>udgiftServlet</servlet-name>
  	<url-pattern>/__rejseafregning/udgiftservice</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>1_Rejseafregning.html</welcome-file>
  </welcome-file-list>

</web-app>
